= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        .col-sm-2
            = label :news_item, :representative_id, class: 'col-form-label'
        .col-sm-10
            = representative.name
    .form-group.row
        .col-sm-2
            = label :news_item, :issue, 'Issue', class: 'col-form-label'
        .col-sm-10
            = params[:issue]
    .form-group.row
        .col-sm-10
          %table.table.table-stripedtable-hover#events
            %caption Table of Top Headlines
            %thead.thead-dark
              %tr
                %th Select
                %th Title
                %th Description
                %th Link

            %tbody
              - headlines.each do |headline|
                %tr
                  %td
                    = radio_button_tag 'article', headline
                  %td = headline['title'] 
                  %td = headline['description']
                  %td
                    = link_to "link", headline['url']
    .actions
        = f.submit 'Save', class: 'btn btn-primary'
